@import '~/normalize.css/normalize.css';
@import '~/vitepress/dist/client/theme-default/styles/icons.css';

@import 'util';
@import 'base/markdown';
@import 'base/widget';
@import 'base/print';

html {
    --base-size-4: 0.25rem;
    --base-size-8: 0.5rem;
    --base-size-14: 0.875rem;
    --base-size-16: 1rem;
    --base-size-24: 1.5rem;
    --base-size-40: 2.5rem;

    --base-text-weight-normal: 400;
    --base-text-weight-medium: 500;
    --base-text-weight-semibold: 600;

    --fontStack-monospace: ui-monospace, SFMono-Regular, SF Mono, Menlo,
        Consolas, Liberation Mono, monospace;
    --fontSize-monospace: 11px;

    // Prevent layout-shifts
    scrollbar-gutter: stable both-edges;

    @import 'scheme/light';

    // Ensure the VitePress classes map to our local ones
    .vp-doc {
        @extend .markdown-body;
    }

    &.dark {
        @import 'scheme/dark';
    }

    @media print {
        // Include background images when printing
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;

        &.dark {
            // still use light theme when printing
            @import 'scheme/light';
        }
    }

    body {
        background-color: var(--bgColor-default);

        // set global font-family
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans',
            Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    }
}
