button[type='submit'] {
    cursor: pointer;

    border: none;

    background-color: var(--fgColor-accent);

    width: min-content;
    color: white;

    &:hover,
    &:focus {
        &:not(:disabled) {
            filter: brightness(90%);
        }
    }

    @include control;
}
