@mixin line-numbers {
    &.line-numbers-mode {
        padding-left: 32px;
    }

    .line-numbers-wrapper {
        position: absolute;

        top: 0;
        bottom: 0;
        left: 0;

        z-index: 3;

        transition:
            border-color 0.5s,
            color 0.5s;

        border-right: 1px solid var(--borderColor-default);

        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        background-color: var(--bgColor-muted);

        padding-top: 17px;

        width: 32px;

        color: var(--fgColor-muted);

        font-size: var(--base-size-16);
        line-height: 19.72px;
        font-family: var(--fontStack-monospace);

        text-align: center;
    }
}

@mixin focused-lines {
    .has-focused-lines {
        .line:not(.has-focus) {
            opacity: 0.4;

            filter: blur(0.095rem);

            transition:
                filter 0.35s,
                opacity 0.35s;
        }

        .line:not(.has-focus) {
            opacity: 0.7;

            transition:
                filter 0.35s,
                opacity 0.35s;
        }

        &:hover .line:not(.has-focus) {
            opacity: 1;

            filter: blur(0);
        }
    }
}

@mixin copy-button {
    > button.copy {
        position: absolute;

        top: 12px;
        right: 12px;

        opacity: 0;

        z-index: 3;

        transition:
            border-color 0.25s,
            background-color 0.25s,
            opacity 0.25s;

        cursor: pointer;

        border: 1px solid var(--borderColor-muted);
        border-radius: 4px;

        // TODO: FIX ICONS IN DARK MODE!
        background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"%3E%3Crect width="8" height="4" x="8" y="2" rx="1" ry="1"/%3E%3Cpath d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"/%3E%3C/svg%3E');
        background-position: 50%;
        background-size: 20px;
        background-repeat: no-repeat;
        background-color: var(--bgColor-muted);

        width: 30px;
        height: 30px;
    }

    &:hover > button.copy,
    > button.copy:focus {
        opacity: 1;
    }

    > button.copy.copied,
    > button.copy:hover.copied {
        background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"%3E%3Crect width="8" height="4" x="8" y="2" rx="1" ry="1"/%3E%3Cpath d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"/%3E%3Cpath d="m9 14 2 2 4-4"/%3E%3C/svg%3E');
    }

    &:hover > button.copy + span.lang,
    > button.copy:focus + span.lang {
        opacity: 0;
    }
}

@mixin highlight {
    code {
        .diff,
        .highlighted {
            display: inline-block;

            transition: background-color 0.5s;

            margin: 0 -24px;
            padding: 0 24px;

            width: calc(100% - 8px);
        }

        .highlighted {
            background-color: var(--bgColor-accent-muted);

            &.error {
                background-color: var(--bgColor-danger-muted);
            }

            &.warning {
                background-color: var(--bgColor-attention-muted);
            }
        }

        .diff {
            &::before {
                position: absolute;

                left: 10px;
            }

            &.remove {
                opacity: 0.7;

                background-color: var(--bgColor-danger-muted);

                &::before {
                    content: '-';

                    color: var(--fgColor-attention);
                }
            }

            &.add {
                background-color: var(--bgColor-success-muted);

                &::before {
                    content: '+';

                    color: var(--fgColor-success);
                }
            }
        }
    }
}

.markdown-body {
    div[class*='language-'] {
        position: relative;

        @include line-numbers;
        @include focused-lines;
        @include copy-button;
        @include highlight;

        > span.lang {
            position: absolute;

            top: 2px;
            right: 8px;

            z-index: 2;

            transition:
                color 0.4s,
                opacity 0.4s;

            color: var(--fgColor-default);

            font-weight: var(--base-text-weight-semibold);
            font-size: var(--base-size-14);

            user-select: none;
        }
    }
}
